.Challenge-container {
  border-style: solid;
  padding: 0 1em;
}

.Challenge-title {
  font-style: italic;
}

.Tutorial-container {
  margin: auto;
  max-width: 640px;
  width: 90%;
}

.Tutorial-text {
  text-align: left;
}
